<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeSchool AI</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main class="container">
      <form id="uploadForm" action="/image-classify" method="post" encType="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
      </form>

      <% if (locals.result) { %>
      <h2><%= locals.result %></h2>
      <% } %>
    </main>
  </body>
</html>
